{% extends 'base.html' %}

{% block body %}
<form method="POST">
    {{ form.csrf_token }}
    {% if form.csrf_token.errors %}
        {{ form.csrf_token.errors }}
    {% endif %}

    {% for field in form %}
        {% if field.type == 'SubmitField' %}
            <br>
            <div>
                {{ field }}
            </div>
        {% elif field.type == 'CSRFTokenField' %}
            {# next iteration #}
        {% else %}
            {#{ field.description }#}
            <br>
            <div>
                {{ field.label }}
                {{ field }}
                {% for error in field.errors %}
                    <span>
                        *{{ error }}
                    </span>
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
</form>
    {% if type_form == 'LoginForm' %}
        <p>Новый пользователь? <a href="{{ './register' }}">Зарегистрироваться!</a></p>
    {% endif%}

{% endblock%}